* {
  margin: 0;
  padding: 0;
}

#parent {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
}

#div_left {
  margin-right: 10px;
  width: 400px;
  height: 400px;
  background-color: aqua;
}

#div_right {
  margin-left: 10px;
  width: 400px;
  height: 400px;
  background-color: rosybrown;
}