* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(img/bg1.webp);
  background-size: 100%;
}

#div1 {
  width: 300px;
  height: 300px;
  background-color: rgba(255, 255, 255, 0.4);
  border-radius: 9px;
  box-shadow: 3px 4px 4px 3px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.design1 {
  background-color: rgba(255, 255, 255, 0.6);
  border: 1px solid chocolate;
  width: 200px;
  height: 25px;
  border-radius: 7px;
  box-shadow: 1px 2px 2px 1px rgba(0, 0, 0, 0.5);
  color: chartreuse;
  font-weight: bold;
}

.txt1 {
  font-family: Arial, Helvetica, sans-serif;
  color: chocolate;
  text-shadow: 1px 2px 2px rgba(0, 0, 0, 0.5);
}

#btn1 {
  background-color: coral;
  color: white;
  border: none;
  border-radius: 3px;
  font-weight: bold;
  width: 100px;
  height: 25px;
  display: block;
  margin: 0 auto;
}

td {
  padding-bottom: 10px;
}